<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/view-post.css">
    <title>Home</title>
</head>
<body>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">BlogPost</h5>
        <span class="text-muted">
          <li><a href="/post-home">Home</a></li>
          <li><a href="/login">Logout</a></li>
      </span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container mt-5">
        <div class="img-banner">
            <img style="width: 100%; height: 350px; object-fit: cover;" src="/images/image1.avif" alt="">
            <h1 class="mt-4">Blog Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, eius. Facere repudiandae unde vel veniam? Ratione, incidunt consequuntur ipsum atque iusto, perferendis facere mollitia minima est, autem non sed veniam libero? Consequatur nemo nisi quia, tenetur voluptate cupiditate veritatis deserunt quasi! Officiis nulla sunt dolor non voluptas exercitationem eum ipsam accusamus magni, aperiam voluptatum itaque eaque tempore. Omnis, saepe! Omnis dolor sed recusandae placeat, temporibus inventore ad accusantium quam veritatis vitae architecto laborum quo. Sapiente consectetur, dolor impedit nihil voluptatum dicta tenetur quaerat ullam aliquam quibusdam natus. Fugit quod qui consequatur voluptas? Accusamus libero quisquam atque optio, nesciunt odit consequuntur.</p>
        </div>
        <div class="com-container">
            <div class="comment">
                <textarea name="" id="" style="padding: 2rem; width: 350px; height: 200px; border-radius: 5px;" placeholder="Comments"></textarea>
                <button class="btn btn-primary">Send</button>
            </div>
            <div class="comment-section">
                <div class="list-comment">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam magni sunt consequatur mollitia. Et, voluptate nesciunt? Cum quam totam nulla temporibus perspiciatis quod molestias maiores, tempore reiciendis. Debitis, quos esse.</p>
                </div>
                <div class="list-comment">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam magni sunt consequatur mollitia. Et, voluptate nesciunt? Cum quam totam nulla temporibus perspiciatis quod molestias maiores, tempore reiciendis. Debitis, quos esse.</p>
                </div>
                <div class="list-comment">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam magni sunt consequatur mollitia. Et, voluptate nesciunt? Cum quam totam nulla temporibus perspiciatis quod molestias maiores, tempore reiciendis. Debitis, quos esse.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>